<div id="reply" class="panel-body topic">
  <section class="well reply">
		<%= form_for @section, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
	    <% if params[:section] %>
		  	<input type="hidden" id="section_parent_section_id" name="section[parent_section_id]" value="<%= params[:section] %>" />
		  <% end %>
	    <%= f.text_field :title, placeholder: "Section Title", class: "topic-name" %>
	    <%= f.submit "Submit", class: "btn btn-info pull-right" %>
	  <% end %>
  </section>
</div>