<div id="reply" class="panel-body topic">
  <section class="well reply">
    <%= form_for @post, html: {class: "nifty_form"} do |f| %>
	    <%= f.trix_editor(:text, placeholder: 'Post here...') %>
	    <%= f.submit "Submit", class: "btn btn-info pull-right" %>
	  <% end %>
  </section>
</div>