/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 *= require_self
 */

$body-bg: #404040;
$navbar-default-bg: #E34C35;
$navbar-default-link-color: #404040;
$navbar-default-link-active-color: #323232;
$navbar-default-link-hover-color: #FFFFFF;
$panel-bg: #323232;
$table-bg-hover: #000000;
$panel-default-heading-bg: #E34C35;
$text-color: #D7D7CD;
$headings-color: #FFFFFF;
$link-color: #E34C35;
$btn-info-bg: #323232;
#padding-0 {
    padding-right:0;
    padding-left:0;
};

@import "bootstrap-sprockets";
@import "bootstrap";