.nrw_pagination {
  cursor: default;
  /* self-clearing method: */ }

  .nrw_pagination a, .nrw_pagination span, .nrw_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }

  .nrw_pagination .disabled {
    color: #999999;
    background: #323232;}

  .nrw_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #E34C35;
    color: white; }

  .nrw_pagination a {
    text-decoration: none;
    background: #323232;
    color: white; }

  .nrw_pagination a:hover, .nrw_pagination a:focus {
    color: #E34C35;
    border-color: #000033; }

  .nrw_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }

  .nrw_pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em; }

  .nrw_pagination:after {
    content: ".";
    display: block;
    height: 0;
    background: #323232;
    clear: both;
    visibility: hidden; }

  * html .nrw_pagination {
    height: 1%; }

  *:first-child + html .nrw_pagination {
    overflow: hidden; }